.about {

  padding: 5.5rem 0;

  @media only screen and (max-width: 768px) {
    padding: 3.5rem 0;
  }

  .socials svg {
    fill: var(--text-color) !important;
  }

  &-long {
    font-weight: 400;
    line-height: 45px;
    font-size: 1.6rem;
    color: var(--text-color);

    @media only screen and(max-width: 768px) {
      line-height: 30px;
      font-size: 1.4rem;
    }

    span {
      color: var(--primary-color);
    }
  }

  ul {
    margin-top: 6rem;

    @media only screen and (max-width: 768px) {
      margin-top: 3rem;
    }

    li {
      a {
        display: flex;
        align-items: center;
      }

      p {
        margin-left: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-color);
      }
    }
  }

  .button-container {
    margin-top: 10rem;

    @media only screen and (max-width: 768px) {
      margin-top: 6rem;
    }

    p {
      color: var(--text-color);
    }
  }
}
