.about {

  padding: 5.5rem 0;

  @media only screen and (max-width: 768px) {
    padding: 3.5rem 0;
  }


  .socials {
    & svg {
      fill: var(--text-color) !important;
    }

    & li:not(:first-child) {
      margin-left: 1.5rem;
    }

    & p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0.5rem;
    }
  }
  &-long {
    font-weight: 400;
    line-height: 45px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: left;

    p {
      line-height: 1.75;
      margin-bottom: 25px;
    }

    @media only screen and (min-width: 786px) {
      // display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    img {
      border-radius: 5px;
      box-shadow: 5px 0 15px rgba(0, 0, 0, 0.25); 
      width: 100%;
      height: auto;
      margin-bottom: 20px;

      @media only screen and (min-width: 786px) {
        width: 250px;
        height: 250px;
        margin-right: 40px;
      }
    }
    

    @media only screen and (max-width: 768px) {
      line-height: 30px;
    }

    span {
      color: var(--primary-color);
    }
  }

  ul {
    margin-top: 6rem;

    @media only screen and (max-width: 768px) {
      margin-top: 3rem;
    }

    li {
      a {
        display: flex;
        align-items: center;
      }

      p {
        margin-left: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-color);
      }
    }
  }

  .button-container {
    margin-top: 10rem;

    @media only screen and (max-width: 768px) {
      margin-top: 6rem;
    }

    p {
      color: var(--text-color);
    }
  }
}
