  .blogs-header {
    text-align: center;
    overflow-x: hidden;
    position: relative;

    padding-bottom: 5rem;

    @media only screen and (max-width: 768px) {
      padding-bottom: 0;
      margin-bottom: 1rem;
    }


    @media only screen and (max-width: 768px) {
      padding-top: 5rem;
    }


    h1 {
      font-size: 3.2rem;
      display: inline-block;
      color: var(--text-color);
      margin-bottom: 1rem;

      position: relative;
      z-index: 1;


      &::before {
        content: "";
        position: absolute;
        left: 1rem;
        bottom: -0.2rem;
        height: 2rem;
        z-index: -1;
        width: 100%;
        background-color: rgba(47, 128, 237, 0.45);
      }
    }

    p {
      font-size: 1.6rem;
      color: var(--text-color);
    }
  }

  .no-found {
    color: var(--text-color);
    font-size: 1.6rem;
    opacity: 0.75;
    text-decoration: underline;
  }

  .blog-single {
    max-width: 72.4rem;
    color: var(--text-color);
    padding-bottom: 10rem;
    background-color: var(--background-color);
    transition: background .5s ease-in-out;


    @media only screen and (max-width: 640px) {
      padding-bottom: 3rem;
    }

    .blog-goback {
      font-size: 1.6rem;
      color: var(--primary-color);

    }

    .blog-body {
      img {
        width: 100%;
        height: auto;
      }

      p {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 3rem;
        line-height: 3rem;

        @media only screen and (max-width: 640px) {
          font-size: 1.4rem;
        }
      }

      a {
        color: var(--text-color);
        position: relative;
        z-index: 10;

        &::before {
          z-index: -1;
          content: "";
          height: 0.75rem;
          width: 100%;
          background-color: rgba(47, 128, 237, 0.45);
          position: absolute;
          bottom: 0.25rem;
          left: 0;
          transition: .1s ease-in;
        }

        &:hover::before {
          transition: .1s ease-in;
          background-color: rgba(47, 128, 237, 0.6);
        }
        @media only screen and (max-width: 768px) {
          text-decoration: underline;
          color: rgba(47, 128, 237, 1);
        }
      }

      h3 {
        margin-top: 5rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 3rem;
        display: inline-block;
        position: relative;
        z-index: 99;

        &::before {
          content: "";
          position: absolute;
          height: 1rem;
          width: 103%;
          background-color: rgba(47, 128, 237, 0.45);
          bottom: 0.25rem;
          left: 0;
          z-index: -1;
          transition: .1s ease-in;
        }
      }

      pre {
        padding: 1rem 2rem;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.125);

        code {
          font-size: 1.5rem;
        }
      }
    }

    h1 {
      font-size: 4.2rem;
      line-height: 4.5rem;
      font-weight: 500;
      margin: 0;
      margin-top: 5rem;

      @media only screen and (max-width: 640px) {
        margin-top: 10rem;
      }
    }

    .blog-single-about {
      position: relative;
      z-index: 5;

      & img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }

      p {
        margin: 0;
        line-height: 25px;

        &:first-of-type {
          font-weight: 400;
          font-size: 1.6rem;
        }

        &:last-of-type {
          font-weight: 300;
          font-size: 1.4rem;
        }
      }

      .socials a>* {
        fill: var(--text-color);
      }
    }
  }


  .blog-header-bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: auto;
    opacity: 0.35;
    height: 70%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
