.blog-cards {
  padding: 5.5rem 0;


  @media only screen and (max-width: 768px) {
    padding: 3.5 0 5rem 0;
  }

  .button-container {
    margin-top: 10rem;

    @media only screen and (max-width: 768px) {
      margin-top: 6rem;
    }
  }
}
