  .blogs-header {
    text-align: center;

    padding-bottom: 5rem;

    @media only screen and (max-width: 768px) {
      padding-bottom: 0;
      margin-bottom: 1rem;
    }


    @media only screen and (max-width: 768px) {
      padding-top: 5rem;
    }


    h1 {
      font-size: 3.2rem;
      display: inline-block;
      color: var(--text-color);
      margin-bottom: 1rem;

      position: relative;
      z-index: 1;


      &::before {
        content: "";
        position: absolute;
        left: 1rem;
        bottom: -0.2rem;
        height: 2rem;
        z-index: -1;
        width: 100%;
        background-color: rgba(47, 128, 237, 0.45);
      }
    }

    p {
      font-size: 1.6rem;
      color: var(--text-color);
    }
  }

  .blog-single {
    max-width: 72.4rem;
    color: var(--text-color);
    padding-bottom: 3rem;

    .blog-goback {
      font-size: 1.6rem;
      color: var(--primary-color);

    }


    img {
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 4.2rem;
      line-height: 4.5rem;
      font-weight: 500;
      margin: 0;
      margin-top: 5rem;

      @media only screen and (max-width: 640px) {
        margin-top: 10rem;
      }
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 3rem;
      line-height: 3rem;

      @media only screen and (max-width: 640px) {
        font-size: 1.4rem;
      }
    }

    h3 {
      margin-top: 5rem;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 3rem;
    }

    .blog-single-about {
      & img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }

      p {
        margin: 0;
        line-height: 25px;

        &:first-of-type {
          font-weight: 400;
          font-size: 1.6rem;
        }

        &:last-of-type {
          font-weight: 300;
          font-size: 1.4rem;
        }
      }

      .socials a>* {
        fill: var(--text-color);
      }
    }
  }


  .blog-header-bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: auto;
    opacity: 0.35;
    height: 70%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
