.button {
  cursor: pointer;
  display: inline-block;
  border: solid 3px var(--primary-button);
  border-radius: 5px;
  padding: 1rem 4rem;
  max-width: 290px;
  position: relative;


  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;

  transition: all .3s ease-in-out;

  &:hover {
    transition: all .3s ease-in-out;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
}
