.footer {
  background-color: var(--secondary-background);

  img,
  a {
    height: 2.5rem;
    width: auto;
  }

  a:nth-last-of-type(2) {
    margin: 0 3rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--secondary-color);
  }

}
