.hero {
  color: var(--text-color);
  position: relative;
  padding: 7.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 640px) {
    margin: 4rem 0;
  }

  h1 {
    font-size: 3.4rem;
    font-weight: 700;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-box-direction-break: clone;
    animation: textBackgroundAnimation 15s infinite;
    display: inline-block;
    font-weight: bold;

    span:first-of-type {
      margin-bottom: 0.5rem;
      font-size: clamp(60px, 80px, 100px);
      display: block;

      @media only screen and (max-width: 640px) {
        font-size: clamp(40px, 65px, 80px);
      }

      @media only screen and (max-width: 510px) {
        font-size: clamp(35px, 55px, 70px);
      }
    }

    span:last-of-type {
      font-size: clamp(40px, 50px, 60px);

      @media only screen and (max-width: 640px) {
        font-size: clamp(30px, 40px, 50px);
      }

      @media only screen and (max-width: 510px) {
        font-size: clamp(20px, 35px, 45px);
      }
    }

    &[data-bg="dark"] {
      background-image: url("../../../static/glossy.jpg");
    }

    &[data-bg="light"] {
      background-image: url("../../../static/glossy2.jpeg");
    }
  }

  &-long {
    line-height: 45px;
    font-size: 1.6rem;

    @media only screen and (max-width: 768px) {
      line-height: 30px;
      font-size: 1.4rem;
    }

    span {
      color: var(--primary-color);
    }
  }

  @mixin bgDefault() {
    position: absolute;
    width: auto;
    z-index: -1;
  }

  .bg-shape {
    &-1 {
      @include bgDefault();
      height: 30vh;
      top: 20%;
      left: 75%;
    }

    &-2 {
      @include bgDefault();
      height: 30vh;
      top: 20%;
      left: 75%;
    }

    &-3 {
      @include bgDefault();
      height: 50vw;
      bottom: -30vh;
      left: 100%;
    }

    &-4 {
      @include bgDefault();
      height: 40vw;
      bottom: -50vh;
      right: 100%;
    }
  }
}

@keyframes textBackgroundAnimation {
  0% {
    background-position: top center;
  }
  50% {
    background-position: center center;
  }
  50% {
    background-position: bottom center;
  }
  75% {
    background-position: center center;
  }
  100% {
    background-position: top center;
  }
}
