.hero {
  color: var(--text-color);
  position: relative;
  min-height: calc(100vh - 7.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    @media only screen and (min-width: 1024px) {
      width: 75%;
    }

    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 3.4rem;
    font-weight: 500;

    @media only screen and (max-width: 1024px) {
      font-size: 2.5rem;
    }

    span {
      color: var(--primary-color);
    }
  }

  &-long {
    line-height: 45px;
    font-size: 1.6rem;

    @media only screen and (max-width: 768px) {
      line-height: 30px;
      font-size: 1.4rem;
    }

    span {
      color: var(--primary-color);
    }
  }


  @mixin bgDefault() {
    position: absolute;
    width: auto;
    z-index: -1;
  }

  .bg-shape {
    &-1 {
      @include bgDefault();
      height: 30vh;
      top: 20%;
      left: 75%;
    }

    &-2 {
      @include bgDefault();
      height: 30vh;
      top: 20%;
      left: 75%;
    }

    &-3 {
      @include bgDefault();
      height: 50vw;
      bottom: -30vh;
      left: 100%;
    }

    &-4 {
      @include bgDefault();
      height: 40vw;
      bottom: -50vh;
      right: 100%;
    }
  }

}
