.projects {
  min-height: 100vh;

  &-card {
    padding: 3rem 0;

    &:nth-of-type(1) {
      padding-top: 0;
    }

    border-bottom: solid 1px var(--horizontal-ruling);

    h4 {
      font-size: 2.2rem;
      font-weight: 400;
      color: var(--text-color);
    }

    p {
      color: var(--text-color);
      font-size: 1.4rem;
      font-weight: 300;
      opacity: 0.80;
    }
  }
}
