.projects {
  .particles {
    z-index: -1;
  }
  &-bg-2 {
    position: absolute;
    left: 75%;
    animation: breathing 10s infinite;
  }

  &-bg-1 {
    position: absolute;
    top: 50%;
    right: 80%;
    animation: breathing 10s infinite;
  }

  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }

    50% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    100% {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  }

  padding: 5.5rem 0;

  @media only screen and (max-width: 768px) {
    padding: 3.5rem 0;
  }

  &-card {
    padding: 1.5rem 0;

    &-icon {
      width: auto;
      height: 2.5rem;
    }

    &:nth-of-type(1) {
      padding-top: 0;
    }

    .project-title {
      font-size: 2.2rem;
      font-weight: 400;
      color: var(--text-color);
      opacity: 1;
    }

    .project-links {
      font-size: 1.4rem;
      color: var(--primary-color);
    }

    p {
      line-height: 2.45rem;
      color: var(--text-color);
      font-size: 1.4rem;
      font-weight: 300;
      opacity: 0.95;
    }
  }

  .project-link {
    position: relative;
    padding: 0.25rem;
  }
}
