@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background-color);
}

.particles {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.dark-mode {
  /* transition: all 0.5s ease-in-out; */
  --primary-color: #2f80ed;
  --text-color: #fff;
  --bg-shape: rgba(255, 255, 255, 0.2);
  --horizontal-ruling: rgba(255, 255, 255, 0.1);
  --primary-button: rgba(47, 128, 237, 1);
  --background-color: #1b1b2f;
  --secondary-color: #fff;
  --secondary-background: #002658;
  --shape-opacity: 0.05;
}

body.light-mode {
  /* transition: all 0.5s ease-in-out; */
  --primary-color: #2f80ed;
  --secondary-color: #fff;
  --text-color: #000;
  --bg-shape: #0000000d;
  --shape-opacity: 0.05;
  --horizontal-ruling: rgba(87, 88, 90, 0.1);
  --primary-button: rgba(47, 128, 237, 0.5);
  --background-color: #fff;
  --secondary-background: #2f80ed;
}

hr {
  border: solid 1px var(--horizontal-ruling);
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1124px;
}

@media only screen and (max-width: 1124px) {
  .container {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    padding: 0;
    width: 92vw;
  }
}

@media only screen and (max-width: 640px) {
  #about,
  #projects,
  #blog {
    border-top: 2.5rem solid transparent;
    margin: -2.5rem 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
}
